body{
    box-sizing: border-box;
    text-align: center;
}

.boxes{
    margin: 30px 30px 30px 30px;
    border: 2px solid red;
    background-color: transparent;
    height: 35px;
    width: 70px;
}

.boxesNone{
    margin: 30px 30px 30px 30px;
    border: 2px solid rgb(19, 18, 18);
    background-color: transparent;
    height: 35px;
    width: 70px;
}
